.gitignore

# this file gets copied by go generate from /openapi/ to be embedded in
# dbadmin
cmd/dbadmin/handler/apidocs/gatekeeper.yaml

# editor
.vscode/*

# tmp
tmp/
bin/
dist/
*~


# python
__pycache__/
*.py[cod]
*$py.class

# e
run*.sh
GeoIP2-City.mmdb
todo.txt
*.log
